<!-- including header.ejs file to form a common header -->
<%- include('header') -%>

  <p>adjlajdl  lfdjlkjlsj adsd alfs </p>

<!-- including footer.ejs file to form a common footer -->
<%- include('footer') -%>